/* =================================================== */
/* 1. ESTILOS BASE (MOBILE-FIRST)                      */
/* CSS para CELULARES (telas de 0px até 767px)         */
/* =================================================== */
.geral {
  width: 200px;
  height: 150px;
  box-shadow: 0.125rem 0.125rem 0.5rem;
  border-radius: 0.325rem;
}

.geral .infoPok {
  display: flex;
  flex-direction: row;
  padding: 0.313rem;
  justify-content: space-between;
  color: rgb(218, 218, 218);
}

.geral .infoPok h2 {
  font-size: 16px;
}


.geral .detalhesPok {
  display: flex;
  padding: 0.313rem;
  gap: 0.313rem;
  justify-content: space-between;
}

.geral .detalhesPok .atributosPok {
  display: flex;
  flex-direction: column;
  justify-content: column;
  gap: 0.313rem;
  padding: 0.313rem;
}

.geral .detalhesPok .atributosPok h3,
.geral .detalhesPok .atributosPok h4 {
  border-radius: 0.625rem;
  padding: 0.188rem;
  text-align: center;
  font-size: 0.75rem;
  color: rgb(218, 218, 218);
}

.geral .detalhesPok .imagemPok {
  display: flex;
  justify-content: center;
}

.geral .detalhesPok .imagemPok img {
  width: 85%;
  height: 85%;
}

.grass {
  background-color: #78c850;
}
.fire {
  background-color: #f08030;
}
.water {
  background-color: #6890f0;
}
.bug {
  background-color: #a8b820;
}
.normal {
  background-color: #a8a878;
}
.poison {
  background-color: #a040a0;
}
.electric {
  background-color: #f8d030;
}
.ground {
  background-color: #e0c068;
}
.fairy {
  background-color: #ee99ac;
}
.fighting {
  background-color: #c03028;
}
.psychic {
  background-color: #f85888;
}
.rock {
  background-color: #b8a038;
}
.ghost {
  background-color: #705898;
}
.ice {
  background-color: #98d8d8;
}
.dragon {
  background-color: #7038f8;
}
.dark {
  background-color: #705848;
}
.steel {
  background-color: #b8b8d0;
}
.flying {
  background-color: #a890f0;
}

.bg-grass { background-color: #4e8234; }
.bg-fire { background-color: #b4530d; }
.bg-water { background-color: #4a679e; }
.bg-bug { background-color: #7d8a1b; }
.bg-normal { background-color: #7c7c5b; }
.bg-poison { background-color: #7c327c; }
.bg-electric { background-color: #bba124; }
.bg-ground { background-color: #a9914e; }
.bg-fairy { background-color: #b17280; }
.bg-fighting { background-color: #8f241e; }
.bg-psychic { background-color: #b94265; }
.bg-rock { background-color: #8a782a; }
.bg-ghost { background-color: #534272; }
.bg-ice { background-color: #72a4a4; }
.bg-dragon { background-color: #5328b9; }
.bg-dark { background-color: #534236; }
.bg-steel { background-color: #8a8ab0; }
.bg-flying { background-color: #7d68b6; }


/* =================================================== */
/* 2. ESTILOS PARA TABLETS                             */
/* Aplicado de 768px PARA CIMA (tablets E desktops)    */
/* =================================================== */

@media (min-width: 768px) {
}

/* =================================================== */
/* 3. ESTILOS PARA DESKTOPS                            */
/* Aplicado de 1025px PARA CIMA (APENAS desktops)      */
/* =================================================== */

@media (min-width: 1025px) {
}
